#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    width: 100%;
    max-width: 700px;
    aspect-ratio: 1/1;
    background-color: #ffce9e;
}

#chessboard .tile {
    padding-bottom: 12.5%;
}

#chessboard .black-tile {
    background-color: #d18b47;
}

#chessboard .white-tile {
    background-color: #ffce9e;
}


@media screen and (max-width: 800px) {
    #chessboard {
        width: 90%;
    }
}
