.tile {
    display: grid;
    place-content : center;
    min-height: 64px;
}

.black-tile {
    background-color: #d18b47;
}

.white-tile {
    background-color: #ffce9e;
}

.tile .chess-piece {
    width: 100%;
    aspect-ratio: 1/1;
}

@media only screen and (max-width: 600px) {
    .tile {
        display: grid;
        place-content : center;
        min-height: 44px;
    }
}